
backend/Veronica/.vs/ProjectEvaluation/veronica.metadata.v5.2
backend/Veronica/.vs/ProjectEvaluation/veronica.projects.v5.2
backend/Veronica/.vs/Veronica/config/applicationhost.config
backend/Veronica/.vs/Veronica/DesignTimeBuild/.dtbcache.v2
backend/Veronica/.vs/Veronica/FileContentIndex/06ae20d5-34d2-4e64-bd0b-751ae8ae1fd7.vsidx
backend/Veronica/.vs/Veronica/FileContentIndex/127cdf03-7118-4b23-be58-9e0861ef8f8f.vsidx
backend/Veronica/.vs/Veronica/FileContentIndex/841bddff-f6c5-4f5a-a393-63431103118b.vsidx
backend/Veronica/.vs/Veronica/FileContentIndex/ae9a8018-627c-4edd-9fdc-ac98f427249f.vsidx
backend/Veronica/.vs/Veronica/FileContentIndex/read.lock
backend/Veronica/.vs/Veronica/v17/.futdcache.v2
backend/Veronica/.vs/Veronica/v17/.suo
backend/Veronica/.vs/Veronica/v17/TestStore/0/000.testlog
backend/Veronica/.vs/Veronica/v17/TestStore/0/testlog.manifest
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/css/bootstrap.css
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/js/bootstrap.js
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/README.md
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_alert.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_badge.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_breadcrumb.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_button-group.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_buttons.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_card.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_carousel.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_close.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_code.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_custom-forms.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_dropdown.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_forms.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_functions.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_grid.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_images.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_input-group.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_jumbotron.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_list-group.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_media.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_mixins.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_modal.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_nav.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_navbar.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_pagination.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_popover.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_print.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_progress.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_reboot.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_root.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_spinners.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_tables.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_toasts.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_tooltip.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_transitions.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_type.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_utilities.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/_variables.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/bootstrap-grid.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/bootstrap-reboot.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/bootstrap.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_alert.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_background-variant.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_badge.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_border-radius.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_box-shadow.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_breakpoints.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_buttons.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_caret.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_clearfix.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_deprecate.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_float.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_forms.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_gradients.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_grid-framework.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_grid.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_hover.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_image.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_list-group.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_lists.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_nav-divider.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_pagination.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_reset-text.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_resize.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_screen-reader.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_size.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_table-row.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_text-emphasis.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_text-hide.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_text-truncate.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_transition.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/mixins/_visibility.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_align.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_background.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_borders.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_clearfix.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_display.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_embed.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_flex.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_float.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_overflow.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_position.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_screenreaders.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_shadows.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_sizing.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_spacing.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_stretched-link.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_text.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/utilities/_visibility.scss
backend/Veronica/IdSrvr/wwwroot/lib/bootstrap/scss/vendor/_rfs.scss
backend/Veronica/IdSrvr/wwwroot/lib/jquery/dist/jquery.js
backend/Veronica/IdSrvr/wwwroot/lib/jquery/dist/jquery.min.js
backend/Veronica/IdSrvr/wwwroot/lib/jquery/dist/jquery.min.map
backend/Veronica/IdSrvr/wwwroot/lib/jquery/dist/jquery.slim.js
backend/Veronica/IdSrvr/wwwroot/lib/jquery/dist/jquery.slim.min.js
backend/Veronica/IdSrvr/wwwroot/lib/jquery/dist/jquery.slim.min.map
backend/Veronica/IdSrvr/wwwroot/lib/jquery/LICENSE.txt
backend/Veronica/IdSrvr/wwwroot/lib/jquery/README.md
backend/Veronica/TestApi/bin/Debug/net6.0/appsettings.Development.json
backend/Veronica/TestApi/bin/Debug/net6.0/appsettings.json
backend/Veronica/TestApi/bin/Debug/net6.0/Microsoft.OpenApi.dll
backend/Veronica/TestApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
backend/Veronica/TestApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
backend/Veronica/TestApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
backend/Veronica/TestApi/bin/Debug/net6.0/TestApi.deps.json
backend/Veronica/TestApi/bin/Debug/net6.0/TestApi.dll
backend/Veronica/TestApi/bin/Debug/net6.0/TestApi.exe
backend/Veronica/TestApi/bin/Debug/net6.0/TestApi.pdb
backend/Veronica/TestApi/bin/Debug/net6.0/TestApi.runtimeconfig.json
backend/Veronica/TestApi/Controllers/WeatherForecastController.cs
backend/Veronica/TestApi/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
backend/Veronica/TestApi/obj/Debug/net6.0/apphost.exe
backend/Veronica/TestApi/obj/Debug/net6.0/ref/TestApi.dll
backend/Veronica/TestApi/obj/Debug/net6.0/refint/TestApi.dll
backend/Veronica/TestApi/obj/Debug/net6.0/staticwebassets.build.json
backend/Veronica/TestApi/obj/Debug/net6.0/staticwebassets/msbuild.build.TestApi.props
backend/Veronica/TestApi/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.TestApi.props
backend/Veronica/TestApi/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.TestApi.props
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.AssemblyInfo.cs
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.AssemblyInfoInputs.cache
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.assets.cache
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.csproj.AssemblyReference.cache
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.csproj.CopyComplete
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.csproj.CoreCompileInputs.cache
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.csproj.FileListAbsolute.txt
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.dll
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.GeneratedMSBuildEditorConfig.editorconfig
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.genruntimeconfig.cache
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.GlobalUsings.g.cs
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.MvcApplicationPartsAssemblyInfo.cache
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.MvcApplicationPartsAssemblyInfo.cs
backend/Veronica/TestApi/obj/Debug/net6.0/TestApi.pdb
backend/Veronica/TestApi/obj/project.assets.json
backend/Veronica/TestApi/obj/project.nuget.cache
backend/Veronica/TestApi/obj/TestApi.csproj.nuget.dgspec.json
backend/Veronica/TestApi/obj/TestApi.csproj.nuget.g.props
backend/Veronica/TestApi/obj/TestApi.csproj.nuget.g.targets
