<div class="row">
  <nb-card>
    <nb-card-body>
      <div>
        <div class="subtitle">Total Orders</div>
        <div class="h3">{{ qty | ngxNumberWithCommas }}</div>
      </div>
      <div>
        <div class="subtitle">Total Revenue</div>
        <div class="h3">{{ revenue | ngxNumberWithCommas }}</div>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<div class="row">
  <div class="col-xxl-9">
    <table class=" table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of orders; let index = index">
          <td>{{index+1}}</td>
          <td>{{ i.qty }}</td>
          <td>${{ i.amount }}</td>
          <td>{{ i.createdDate | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>